# Monorepo Root Test Environment Variables
# This file is a template. Copy it to .env.test and fill in your actual values.

NODE_ENV=test

# Port variables
API_PORT=3004
WEB_PORT=3005

# Test Database variables
POSTGRES_USER=testuser
POSTGRES_PASSWORD=testpass
POSTGRES_DB=testdb
POSTGRES_PORT=12000

# Cypress Environment Variables for Test
CYPRESS_BASE_URL="http://localhost:${WEB_PORT}"
CYPRESS_DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
