.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: gray;
}

.body {
  padding: 20px 60px;
  display: flex;
  align-items: flex-start;
}

.height-30 {
  height: 30px;
}

h1 {
  color: white;
}