<h2>Notes</h2>
<table class="table">
    <thead>
      <tr>
        <th>S</th>
        <th>Date</th>
        <th>Concept</th>
        <th>Amount</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let note of notes; let i = index">
        <td>
          <input
            type="checkbox"
            (change)="checkboxChanged($event, note.id)" />
        </td>
        <td>{{ formatDate(note.createdAt) }}</td>
        <td>{{ note.content }}</td>
        <td>{{ note.remindAt }}</td>
        <td>{{ note.remindedAt }}</td>
        <!-- <td>
          <button
            class="material-symbols-outlined"
            (click)="deleteNote(note.id)">
            delete
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
